<div class="signup">
    <form action="/auth/signup" method="POST">
        <label for="new-email">email: </label>
        <input id="new-email" type="email" name="email">
        <br>
        <label for="new-name">name: </label>
        <input id="new-name" type="text" name="name">
        <br>
        <label for="new-username">username:</label>
        <input id="new-username" type="text" name="username">
        <br>
        <label for="new-password">password :</label>
        <input id="new-password" type="password" name="password">
        <br>
        <input type="submit" value="Sign up">
    </form>
</div>