<h3>this is where you can view your saved pets</h3>


<% savedPets.forEach(pet => { %>
    <div class="well">
        <a href="/animals/details/<%= pet.petId %>" class="savedPets">
        <h3><%= pet.name.toLowerCase() %></h3></a> <%= pet.userId%>
        <form method="POST" action="/animals/saved?_method=DELETE">
            <input type="hidden" name="name" value="<%= pet.name%>">
            <button id="remove" class="removePet" type="submit">remove</button>
        </form>
    </div>
<% }); %>
</body>