<body id="searchPage">
<form method="GET" action="/show">
    <label for="animalSearch">search by species:</label><br><br><br>
    <input id="dog" class="animalSearch" type="submit" name="animalSearch" value="dog">
    <input id="cat" class="animalSearch" type="submit" name="animalSearch" value="cat">
    <input id="rabbit" class="animalSearch" type="submit" name="animalSearch" value="rabbit"> <br>
    <input id="small-furry" class="animalSearch" type="submit" name="animalSearch" value="small-furry">
    <input id="horse" class="animalSearch" type="submit" name="animalSearch" value="horse"> <br>
    <input id="bird" class="animalSearch" type="submit" name="animalSearch" value="bird">
    <input id="scales-fins-other" class="animalSearch" type="submit" name="animalSearch" value="scales-fins-other">
    <input id="barnyard" class="animalSearch" type="submit" name="animalSearch" value="barnyard">

</form>
</body>
