<h3>this is the search page</h3>

<form method="GET" action="/show">
    <label for="animalSearch">pick a category to search by:</label>
<!--    <select name="animalAttri" id="animalAttri">-->
<!--        <option value="type">type</option>-->
<!--        <option value="name">name</option>-->
<!--        <option value="age">age</option>-->
<!--        <option value="gender">gender</option>-->
<!--        <option value="size">size</option>-->
<!--    </select>-->
    <input id="animalSearch" type="text" name="animalSearch">
    <input type="submit" value="search">
</form>