

<form method="GET" action="/show">
    <label for="animalSearch">search by species:</label>
    <!--    <select name="animalAttri" id="animalAttri">-->
    <!--        <option value="type">type</option>-->
    <!--        <option value="name">name</option>-->
    <!--        <option value="age">age</option>-->
    <!--        <option value="gender">gender</option>-->
    <!--        <option value="size">size</option>-->
    <!--    </select>-->
    <div id="dog"><input id="animalSearch" type="submit" name="animalSearch" value="dog"></div>
    <div id="cats"><input id="animalSearch" type="submit" name="animalSearch" value="cat"></div>
    <div id="rabbits"><input id="animalSearch" type="submit" name="animalSearch" value="rabbit"></div>
    <div id="small-furry"><input id="animalSearch" type="submit" name="animalSearch" value="small-furry"></div>
    <div id="horses"><input id="animalSearch" type="submit" name="animalSearch" value="horse"></div>
    <div id="birds"><input id="animalSearch" type="submit" name="animalSearch" value="bird"></div>
    <div id="scales-fins-others"><input id="animalSearch" type="submit" name="animalSearch" value="scales-fins-other"></div>
    <div id="barnyard"><input id="animalSearch" type="submit" name="animalSearch" value="barnyard"></div>



<!--    <input id="animalSearch" type="text" name="animalSearch">-->
<!--    <input id="animalSearch" type="submit" value="search">-->
</form>



<!--<script>-->
<!--    const dog = document.getElementById('dog');-->
<!--    dog.addEventListener('click', () => {-->
<!--    document.getElementById('animalSearch').value = 'dog';-->
<!--    });-->



</script>
