
<form method="GET" action="/show">
    <label for="animalSearch">search by species:</label>
<!--    <select name="animalAttri" id="animalAttri">-->
<!--        <option value="type">type</option>-->
<!--        <option value="name">name</option>-->
<!--        <option value="age">age</option>-->
<!--        <option value="gender">gender</option>-->
<!--        <option value="size">size</option>-->
<!--    </select>-->
    <input id="animalSearch" type="text" name="animalSearch">
    <input type="submit" value="search">
</form>