<h1 class="welcome">welcome</h1>
<div class="links"></div>
<p class="welcome-p">welcome to this adoption app! i want to make adopting a pet even easier for people. every animal deserves a loving home.
and we should not support puppy mills or breeders.</p>