<h1 class="welcome">welcome</h1><hr>
<footer class="welcome-p">welcome to this adoption app! this allows you to to search for pets from
    all over the country that need care and a loving home. you can also search for an organization
    near you if you want to become more involved with helping these animals find a forever home.
    there are so many animals up for adoption and every animal deserves a loving home. when you adopt,
    you are helping a greater cause, and keeping generations of animals healthier.
</footer>


<!-- I love your minimalist aesthetic but I feel it's in stark contrast with the wonderfully warm
    sentiment of the above copy. Even just adding a bit more art (or recycling some you've used on
    other pages) I believe would go a long way🤗-->