<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Adopt Don't Shop!</title>
    <link rel="stylesheet" href="../public/css/style.css">
</head>
<body>
<%- include partials/alerts %>
<header>
    <nav>
        <ul>
            <% if (!currentUser) { %>
                <li><a href="/auth/signup">signup</a></li>
                <li><a href="/auth/login">login</a></li>
            <% } else { %>
                <li><a href="/auth/logout">logout</a></li>
                <li><a href="/profile/view">profile</a></li>
                <li><a href="/animals/search">search</a></li>
            <% } %>
        </ul>
    </nav>
</header>
<h1 class="headline">adopt, don't shop</h1>
<h6 class="headline">and find the new love of your life</h6>


<%- body %>
</body>
</html>