<h3>this is where you can view your saved pets</h3>


<% savedPets.forEach(pet => { %>
    <div class="well">
        <a href="/details/<%= pet.petId %>" class="savedPets">
        <h3><%= pet.name %></h3></a>
    </div>
<% }); %>
</body>