<body id="searchPage">
<form method="GET" action="/animals/show">
    <label for="animalSearch">choose the type of animal you're looking for below</label><br><br>
    <input id="dog" class="animalSearch" type="submit" name="animalSearch" value="dog">
    <input id="cat" class="animalSearch" type="submit" name="animalSearch" value="cat">
    <input id="rabbit" class="animalSearch" type="submit" name="animalSearch" value="rabbit"> <br>
    <input id="horse" class="animalSearch" type="submit" name="animalSearch" value="horse">
    <input id="barnyard" class="animalSearch" type="submit" name="animalSearch" value="barnyard"> <br>
    <input id="bird" class="animalSearch" type="submit" name="animalSearch" value="bird">
    <input id="small-furry" class="animalSearch" type="submit" name="animalSearch" value="small-furry">
    <input id="scales-fins-other" class="animalSearch" type="submit" name="animalSearch" value="scales-fins-other">

</form>

<br><br><br>

<form action="/organizations" method="GET">
    <label for="orgSearch">search organizations by state: </label>
    <input id="orgSearch" type="text" name="orgSearch">
    <input type="submit" value="search">
</form>
</body>
